[submodule "dump978"]
	path = dump978
	url = https://github.com/ryandavid/dump978.git
[submodule "dump1090"]
	path = dump1090
	url = https://github.com/ryandavid/dump1090.git
[submodule "librtlsdr"]
	path = librtlsdr
	url = https://github.com/ryandavid/librtlsdr.git
[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "gpsd"]
	path = gpsd
	url = https://github.com/ryandavid/gpsd.git
[submodule "mdsplib"]
	path = mdsplib
	url = https://github.com/flightaware/mdsplib.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "libgeos"]
	path = libgeos
	url = https://github.com/libgeos/libgeos.git
[submodule "proj.4"]
	path = proj.4
	url = https://github.com/OSGeo/proj.4.git
