# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

rotobox
.DS_Store
._*

# Scripts pyc
scripts/*.pyc

# Downloaded charts
charts/*.htm
charts/*.tfw
charts/*.tif

# Converted charts
charts/*.vrt
wwwroot/charts/*
wwwroot/airports/*

# Converted airspace GeoJSON
wwwroot/airspaces/*

# Downloaded airport info
airports/*

# SQLite Database
rotobox.sqlite
